@tailwind base;
@tailwind components;

@layer components {
  .test { @apply m-0 max-w-[30ch] text-sm opacity-50 }
  .test2 {
    color: red;
    background-color: blueviolet;
  }
  .nav-unit {
    box-sizing: border-box;
    padding: 2px 3px;
    border: 1px solid gray;
    background-color: #8A2BE280;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
  }
  .self-btn {
    @apply mt-auto bg-violet-800 bg-opacity-50 hover:bg-opacity-75 transition-colors duration-200 rounded-xl font-semibold py-2 px-4 inline-flex cursor-pointer
  }
}

@tailwind utilities;

/*:root {*/
/*  --foreground-rgb: 0, 0, 0;*/
/*  --background-start-rgb: 214, 219, 220;*/
/*  --background-end-rgb: 255, 255, 255;*/
/*}*/

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --foreground-rgb: 255, 255, 255;*/
/*    --background-start-rgb: 0, 0, 0;*/
/*    --background-end-rgb: 0, 0, 0;*/
/*  }*/
/*}*/

/*body {*/
/*  color: rgb(var(--foreground-rgb));*/
/*  background: linear-gradient(*/
/*      to bottom,*/
/*      transparent,*/
/*      rgb(var(--background-end-rgb))*/
/*    )*/
/*    rgb(var(--background-start-rgb));*/
/*}*/

/*@layer utilities {*/
/*  .text-balance {*/
/*    text-wrap: balance;*/
/*  }*/
/*}*/
